body{
    margin-left: 20px;
    padding: 10px;
  background-image: url(final.jpeg);
}
h1{
    margin-left: auto;
    color: White;
    font-size: 2.2em;
}
h2{
  background-color: white;
    color: #333C83;
    font-size: 1.9em;
    font-variant: small-caps;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #720026;
    color:#fff;
}
li{
  color: white;
}
ul{
    padding: 30px;
    margin-left: 30px;
    margin-top: 15px;
    color:white;
    font-size: 40px;
}
p{
  color:white;
}
