header{
  width: 100%;
  height: 100px;
  background-image:url(encanto-50.jpg);
  height:100vh;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
nav
{
  background-color:black;
  overflow:hidden;
  align-items:center;
  max-width: 100%;
  height:fit-content;
  color:white;
  font-weight: bold;
}
.menu{
  position: absolute;
  overflow:hidden;
  right:20px;
  top:35px;
  align-items:center;
  word-spacing: 20px;
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.heading{
  font-size: 80px;
}
.intro
{
  position:relative;
  top:200px;
  text-align: center;
  font-weight:bold;
  color:white;
}
@keyframes example {
  from {background-image:url(encanto-50.jpg);}
 to {background-image:url(second.jpg);}
}
.hiring{
  width: 100%;
  height: 100px;
  background-image:url(hijk.jpeg);
  height:500px;
}
.interns
{
  text-align:center;
  font-weight:bold;
  padding-top: 20px;
}
.para2{
  display: inline-block;
  max-width: fit-content;
  text-align:center;
  color:white;
  font-size:20px;
}
.Work{
   width: 100%;
  height: 500px;
  background-image:url(tangled.jpg);
  animation-name: jobs;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.headTwo{
  position:absolute;
  align-items:center;
  word-spacing: 20px;
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size:80px;
}
.blur {
  position:relative;
  text-align:center;
  padding-top: 20px;
  padding-bottom:20px;
  height:500px;
  font-size:20px;
}

.blur:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
background-image: url(snowwhite2.jfif);
background-size: cover;
  filter: blur(8px);
  z-index:0;
}
.blur span {
  position:relative;
  z-index:1;
}
.blog{
  color:white;
}
@keyframes jobs {
  from {background-image:url(tangled.jpg);}
 to {background-image:url(tangled2.jpg);}
}
.forums{
  background-image:url(tangled2.jfif);
  backdrop-filter:blur(8px);
  background-size:cover;
  text-align:center;
  padding-top: 20px;
}
